streamlit
opencv-python-headless
numpy
PyMuPDF
pytesseract
joblib
pandas
scikit-image
Pillow
pywavelets
scikit-learn  # Required for RandomForestClassifier and SelectKBest
imbalanced-learn  # Required for SMOTE